.QajuHzlZleFtiTUp_E8u .D9WLyEQaARfWqCTyVrpU {
  width: 840px !important;
  height: 328px;
  padding: 8px;
  border-radius: 12px;
  box-shadow: 0px 12px 20px 0px #eaecf1;
}
.sCsSbKP9yxvw4LQAeaTz {
  height: 100vh;
}

.JtRS8dNV0vDLnpBoA6kZ {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 74px;
  margin-right: 50px !important;
}
