.input-group {
    display: flex;
    align-items: center;
    width: 50vw;
    padding: 2vw;
    background-color: #101828;
    /* margin: 5vw; */
    height: 16vh;
    border-radius: 30px;
  }
  
  .inputAI {
    width: 35vw;
    background-color: whitesmoke !important;
    min-height: 50px;
    /* max-width: 150px; */
    padding: 0 1rem;
    color: #fff;
    font-size: 15px;
    border: 1px solid #5e4dcd;
    border-radius: 6px 0 0 6px;
    background-color: transparent;
  }
  
  .button--submit {
    min-height: 50px;
    padding: .5em 1em;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: #5e4dcd;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
  }
  
  .button--submit:hover {
    background-color: #5e5dcd;
  }
  
  .input:focus, .input:focus-visible {
    border-color: #3898EC;
    outline: none;
  }
  
  .searchAIDiv{
    display: flex;
    column-gap: 10vw;
  }
  .searchCategories{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 50px;
  }